@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .main {
        @apply
        /* Mobile */
        w-screen min-h-[100dvh] m-0 p-4 bg-slate-300
        dark:bg-zinc-900
    }
    
    .main-title {
        @apply
        /* Mobile */
        w-full relative pr-8 mb-11 text-center bg-clip-text text-transparent text-5xl font-bold font-kanit
        bg-gradient-to-br from-zinc-900 via-zinc-800 to-zinc-700

        dark:bg-gradient-to-br dark:from-slate-400 dark:via-slate-200 dark:to-slate-300
    }

    /* TaskList component start */
    .list-container {
        @apply
        /* Mobile */
        w-full flex flex-col min-h-[70dvh] px-4 py-4
        border-2 border-slate-500 bg-slate-400/50 rounded
        dark:border-slate-500 dark:bg-zinc-800/50
    }


    /* TaskForm component start */
    .form {
        @apply
        /* Mobile */
        w-full flex flex-col place-content-center place-items-center gap-10
    }

    .input-group {
        @apply
        /* Mobile */
        w-full flex flex-col 
    }

    .input {
        @apply
        /* Mobile */
        w-full border-2 border-gray-900 rounded pl-2 outline-none
        focus:border-green-500
    }

    .error {
        @apply
        /* Mobile */
        text-red-500 text-sm opacity-100 h-[30px]

        transition-all duration-[.5s] ease-in-out
    }

    .hidden-error {
        @apply
        /* Mobile */
        opacity-0 h-[30px]
    }

    .button {
        @apply
        /* Mobile */
        outline-none bg-green-400 font-bold text-xl text-white py-2 px-4 w-24 rounded
    }

    /* TaskForm component end */


}